<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <%-include('../partial/header.ejs')%>
    <main>
        <h2>Welcome to Tech Solutions</h2>
        <p>Your trusted partner for customized IT solutions.</p>
        <p>We provide cutting-edge technology solutions to businesses worldwide.</p>
        <p> Our team of experts is dedicated to delivering high-quality services 
             tailored to your needs.</p>
        
    </main>
</body>
</html>